@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #d5d5d6;
  --foreground: #0e1018;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e1018;
    --foreground: #d5d5d6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.toc-item {
  transition: color 0.3s ease; /* Transição suave para a cor */
}