@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground: #d5d5d6;
  --background: #0e1018;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.toc-item {
  transition: color 0.3s ease; /* Transição suave para a cor */
}