@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26262e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424246;
}

:root {
  --foreground: #d5d5d6;
  --background: #0e1018;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.toc-item {
  transition: color 0.3s ease; /* Transição suave para a cor */
}